/* Our title is way too large to fit */
#title-slide > h1 {
    font-size: 1.5em;
}

.reveal-full-page {
    --r-background-color: #fefefe;
}

figcaption {
    margin: auto;
    text-align: center;
    font-style: italic;
}

.rounded-fig {
    border-radius: 5px;
}

.experiments-spacing {
    margin-top: 50px;
}

.experiments-header {
    font-size: 48px;
    padding-bottom: 20px;
}

.experiments-align-center {
    text-align: center;
}